/*!
Project Name: See2Solve
Author: Ammar Habib (Sr. Frontend Developer)
Author URI:  https://www.linkedin.com/in/ammar-habib111/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');

:root {
    --primary          : #248ed1;
    --secondary        : #76767b;
    --success          : #45af2b;
    --info             : #0dcaf0;
    --warning          : #ffc107;
    --danger           : #dc3545;
    --light            : #f3f5f9;
    --dark             : #252736;
    --white            : #fff;
    --black            : #000;
    --border-color     : #e2e2e2;
    --primary-rgb      : 36, 142, 209;
    --secondary-rgb    : 118, 118, 123;
    --success-rgb      : 69, 175, 43;
    --info-rgb         : 13, 202, 240;
    --warning-rgb      : 255, 193, 7;
    --danger-rgb       : 220, 53, 69;
    --light-rgb        : 243, 245, 249;
    --dark-rgb         : 37, 39, 54;
    --white-rgb        : 255, 255, 255;
    --black-rgb        : 0, 0, 0;
    --body-font-family : "Roboto", sans-serif;
    --body-font-size   : 1rem;
    --body-font-weight : 400;
    --body-line-height : 1.5;
    --body-color       : #000;
    --body-bg          : #f3f5f9;
}

body {
    margin                      : 0;
    text-align                  : left;
    font-family                 : var(--body-font-family);
    font-size                   : var(--body-font-size);
    font-weight                 : var(--body-font-weight);
    line-height                 : var(--body-line-height);
    color                       : var(--body-color);
    background-color            : var(--body-bg);
    -webkit-text-size-adjust    : 100%;
    -webkit-tap-highlight-color : transparent;
    letter-spacing              : 0.4px;
    overflow-x                  : hidden;
}

/*Basic*/
a {
    text-decoration : none;
    color           : var(--dark);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight    : 700;
    color          : var(--dark);
    text-transform : capitalize;
    line-height    : normal;
}

h1, .h1 {
    font-size : 1.75rem;
}

h2, .h2 {
    font-size : 1.25rem;
}

h3, .h3 {
    font-size : 1rem;
}

.form-select {
    --form-select-bg-img : url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg"><path d="m4 0 4 5H0l4-5zm4 7H0l4 5 4-5z" fill="%23000" fill-rule="nonzero"/></svg>');
    padding              : 12px 20px 12px 12px;
    font-size            : 0.875rem;
    font-weight          : 400;
    line-height          : normal;
    letter-spacing       : 0.53px;
    color                : var(--dark);
    background-color     : var(--white);
    background-image     : var(--form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-position  : right .75rem center;
    background-size      : 16px 12px;
    border               : 1px solid var(--border-color);
    border-radius        : 5px;
    overflow             : hidden;
    white-space          : nowrap;
    text-overflow        : ellipsis;
}

.form-select:focus,
.form-check-input:focus {
    border-color : var(--primary);
    outline      : 0;
    box-shadow   : none;
}

.form-check-input:checked {
    background-color : var(--primary);
    border-color     : var(--primary);
}

.form-check-input:checked[type=checkbox] {
    background-color : var(--primary);
}


.card {
    --bs-card-border-width  : 0;
    --bs-card-border-color  : transparent;
    --bs-card-border-radius : 5px;
    --bs-card-box-shadow    : 0 2px 20px 0 rgba(0, 0, 0, 0.05);


}

.btn {
    --bs-btn-padding-x        : 10px;
    --bs-btn-padding-y        : 9.76px;
    --bs-btn-font-size        : 0.875rem;
    --bs-btn-line-height      : normal;
    letter-spacing            : 0.023rem;
    --bs-btn-color            : var(--dark);
    --bs-btn-bg               : #fff;
    --bs-btn-border-width     : 1px;
    --bs-btn-border-color     : transparent;
    --bs-btn-border-radius    : 5px;
    --bs-btn-box-shadow       : none;
    --bs-btn-focus-box-shadow : none;
    display                   : inline-flex;
    align-items               : center;
    justify-content           : center;
    min-width                 : 100px;

}

.btn__icon {
    margin-right : 0.5rem;
}

.btn-primary {
    --bs-btn-color                 : #fff;
    --bs-btn-bg                    : var(--primary);
    --bs-btn-border-color          : var(--primary);
    --bs-btn-hover-color           : var(--primary);
    --bs-btn-hover-bg              : transparent;
    --bs-btn-hover-border-color    : var(--primary);
    --bs-btn-focus-shadow-rgb      : none;
    --bs-btn-active-color          : var(--primary);
    --bs-btn-active-bg             : transparent;
    --bs-btn-active-border-color   : var(--primary);
    --bs-btn-active-shadow         : none;
    --bs-btn-disabled-color        : #fff;
    --bs-btn-disabled-bg           : var(--primary);
    --bs-btn-disabled-border-color : var(--primary);
}

.btn-outline-light {
    --bs-btn-color                 : var(--dark);
    --bs-btn-border-color          : var(--border-color);
    --bs-btn-hover-color           : var(--primary);
    --bs-btn-hover-bg              : #fff;
    --bs-btn-hover-border-color    : var(--primary);
    --bs-btn-focus-shadow-rgb      : none;
    --bs-btn-active-color          : var(--dark);
    --bs-btn-active-bg             : transpartent;
    --bs-btn-active-border-color   : var(--border-color);
    --bs-btn-active-shadow         : none;
    --bs-btn-disabled-color        : var(--dark);
    --bs-btn-disabled-bg           : transparent;
    --bs-btn-disabled-border-color : #f8f9fa;
    --bs-gradient                  : none;
}

.btn-group-sm > .btn, .btn-sm {
    --bs-btn-padding-y : 3px;
    --bs-btn-padding-x : 18px;
    --bs-btn-font-size : 0.875rem;
    min-width          : 65px;
}

/*Layout*/
.wrapper {
    display        : flex;
    flex-direction : column;
    min-height     : 100vh;
}

.page-content {
    flex    : 1 1 auto;
    padding : 1rem;
}

/*components*/
.navbar {
    --bs-navbar-padding-x : 1.875rem;
    --bs-navbar-padding-y : 0.938rem;
    background-color      : #fff;
}

.navbar-brand {
    padding      : 0;
    margin-right : 2.266rem;
    margin-top   : -4px;
}

.headerFields {
    display      : flex;
    gap          : 0.938rem;
    margin-right : auto;
}

.headerFields select {
    width : 255px;
}


.printToolbar {
    align-items : center;
    gap         : 8px;
}

.printToolbar .btn-group {
    padding          : 4px 12px;
    border-radius    : 5px;
    border           : solid 1px #e2e2e2;
    background-color : #fff;
    gap              : 2px;
}

.printToolbar .btn-group .btn {
    padding       : 5px 11px;
    min-width     : auto;
    border-radius : 4px !important;
}

.printToolbar .btn-group .btn-light {
    --bs-btn-color               : #000;
    --bs-btn-bg                  : #fff;
    --bs-btn-border-color        : #fff;
    --bs-btn-hover-color         : #fff;
    --bs-btn-hover-bg            : #45af2b;
    --bs-btn-hover-border-color  : #45af2b;
    --bs-btn-focus-shadow-rgb    : none;
    --bs-btn-active-color        : #fff;
    --bs-btn-active-bg           : #45af2b;
    --bs-btn-active-border-color : #45af2b;
    --bs-btn-active-shadow       : none;
}

@media (max-width:  1439.98px  ) {
    .headerFields select {
        width : 180px;
    }
}

@media (max-width:  1199.98px) {
    .page-content {
        padding : 1rem 0;
    }

    .navbar {
        justify-content : space-between;
        flex-wrap       : wrap;
        padding         : 12px 16px;
        box-shadow      : 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    }

    .headerFields {
        order       : 2;
        width       : 100%;
        padding-top : 12px;
        margin-top  : 12px;
        border-top  : solid 1px #e7e7e7;
    }

    .headerFields select {
        width : 33.33%;
    }

    .printToolbar .btn-group,
    .printToolbar .printToolbar__title {
        display : none;
    }
    .printToolbar .btn-outline-light{
        border: none;
        justify-content: end;
    }
    .printToolbar .btn__icon {
        margin-right : 0;
    }
}

.actionsToolbar {
    display       : flex;
    gap           : 0.625rem;
    align-items   : center;
    margin-bottom : 1rem;
    flex-wrap     : wrap;
}

@media (max-width:  1199.98px) {
    .actionsToolbar__title {
        display : block;
        width   : 100%;
    }
}


.infoCard {
    margin-bottom : 24px;
    padding       : 15px 15px 20px 15px;
}

.infoCard .row {
    --bs-gutter-x : 0.625rem;
    row-gap       : 10px;
}

.infoCard__check {
    margin-bottom : 1.063rem;
    display       : flex;
    align-items   : center;
    gap           : 0.938rem;
}

.infoCard__check label {
    font-size      : 1.25rem;
    font-weight    : 700;
    line-height    : normal;
    letter-spacing : 0.53px;
    color          : var(--dark);
}

.infoCard__check .form-check-input {
    width            : 25px;
    height           : 25px;
    margin-top       : 0;
    vertical-align   : middle;
    border           : 1px solid var(--border-color);
    background-color : #fff;

}


.infoCard__list {
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    padding          : 6px 12px;
    border-radius    : 5px;
    border           : solid 1px var(--border-color);
    background-color : #f9fbfe;
    font-size        : 15px;
    letter-spacing   : 0.4px;
    line-height      : normal;
    color            : #000;
    margin-bottom    : 10px;
    height           : 100%;
}

.infoCard__list--title {
    color        : #76767b;
    margin-right : 4px;
}

.infoCard__list:hover {
    border : solid 1px var(--primary);
}

.infoCard__list:hover .infoCard__list--title {
    color : var(--primary);
}

.attachments {
    display               : grid;
    grid-template-rows    : 1fr;
    grid-column-gap       : 5px;
    grid-row-gap          : 5px;
    grid-template-columns : repeat(auto-fill, minmax(80px, 1fr));

}

.attachments__item {
    width               : 100%;
    height              : 70px;
    border-radius       : 5px;
    border              : solid 1px var(--border-color);
    background-color    : #f9fbfe;
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;
}

.attachments__item--upload {
    display         : flex;
    align-items     : center;
    justify-content : center;
    position        : relative;
}

.attachments__item--upload input[type=file] {
    font-size : 0;
    position  : absolute;
    left      : 0;
    top       : 0;
    opacity   : 0;
    width     : 100%;
    height    : 100%;
    cursor    : pointer;
}